@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  /* Custom Media Query for better mobile text scaling */
  @media (max-width: 640px) {
    html {
      font-size: 14px;
    }
    
    body {
      overflow-x: hidden;
    }
  }

  /* Ensure inputs don't zoom on iOS */
  @media screen and (max-width: 768px) {
    input, textarea, select {
      font-size: 16px !important;
    }
  }
}
